/* ========================================
   BASE LAYOUT
   ======================================== */

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #121218;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #575757;
}
